body {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #292929;
  padding: 10px 20px;
  color: #fff;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.navbar-title {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links li a:hover {
  color: #a5a4a4;
  font-size: 17px;
  transition: 150ms;
}

#difficulty-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

#difficulty-buttons button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #292929;
  border-radius: 5px;
  background-color: #e0e0e0;
}

#custom-form {
  display: none;
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#game-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
  color: #292929;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background-color: #ccc;
  cursor: pointer;
  user-select: none;
}

.modal,
.error-modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #00000099;
}

.error-modal{
  z-index: 9999;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #333;
}

.close-modal:hover {
  color: #e40606;
  font-size: 24px;
  transition: 0.3s;
}

.error-title {
  font-weight: bold;
  font-size: 18px;
  color: #b30000;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #666;
  outline: none;
  box-shadow: 0 0 5px rgba(41, 41, 41, 0.5);
}

label {
  font-weight: bold;
  display: block;
  text-align: left;
  color: #292929;
  margin-bottom: 4px;
}

.submit-btn {
  background-color: #292929;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #444;
}

#ranking-list {
  max-height: 500px;
  overflow-y: auto;
  font-size: 18px;
  text-align: left;
}

#ranking-order {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #292929;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #292929;
  box-sizing: border-box;
  cursor: pointer;
}

#ranking-order:focus {
  box-shadow: 0 0 5px #29292980;
}

#ranking-list ol {
  padding-left: 20px;
}

#ranking-list li {
  margin-bottom: 6px;
}
.ranking-duration {
  color: #0074cc;
}

.about {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.about h3 {
  font-size: 20px;
}

.list-about {
  padding-left: 15px;
}

.list-about li {
  margin-bottom: 5px;
}

.list-about a {
  color: #0074cc;
  text-decoration: none;
}

.list-about a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  #difficulty-buttons {
    flex-direction: row;
    justify-content: center;
  }

  #game-info {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links {
    flex-direction: row;
    gap: 20px;
  }
}
